<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BistroVersion2.Properties.Settings.SamoilovBistroConnectionString"
            connectionString="Data Source=MYPC;Initial Catalog=SamoilovBistro;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BistroVersion2.Properties.Settings.ConnectionString_college"
            connectionString="Provider=SQLNCLI11;Data Source=adclg1;Integrated Security=SSPI;Initial Catalog=SamoilovBistro1"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>